* {
    margin: 0;
    padding: 0;
  }
  
  Header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    flex-wrap: nowrap;
    flex-direction: row;

  }
  
  .hidden {
    display: none;
  }



  .amalieskram-tekst {
    display: flex;
    color: white;
    margin-right: auto;
    font-size: 35px;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta, 
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
    justify-content: space-between;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  

  
  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  
  
.velkommen {
    display: flex;
    background-image: url(../Bilder/Nydelig_bakgrunnsbilde.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: start;
    padding-bottom: 50%;
   
}

.Velkommen_tekst {
  display: flex;
  margin: 15px;
}
  
.Erik-phillip-bilde {
  display: flex;
}

.bilde {
  width: 100%;
}

.bildetekst {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: auto;
  margin: 50px;
  padding: 20px;
  background-color: lightgrey;
  border: none; 
  position: absolute;
  border-radius: 25px;
}


.daniel-erik-bilde {
  display: flex;
  

}


.konsept {
  display: flex;
  background-image: url(../Bilder/IMG_0214.jpeg);
  height: 878px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  
}


#btn {
  font-size: 22px;
  padding: 20px;
}

.foto {
  display: flex;
  background-image: url(../Bilder/IMG_0196.jpeg);
  height: 878px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.teknologi {
  display: flex;
  background-image: url(../Bilder/IMG_0210.jpeg);
  height: 878px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}


@media (max-width:600px) {
 Header {
  flex-direction: column;
  padding: 1rem 0 ;
 }
 .hidden {
  display: unset;
 }
 
 .shown {
  display: none;
 }

 .amalieskram-tekst {
  margin: 0 0 1rem 0;
 }

 .nav__links {
  align-items: center;
  font-size: 12px;
 }

}

.powerpoint {
  display: flex;
  justify-content: center;

}

.gymYT {
  flex: 1;
  justify-content: center;
  align-items: center;
}




.dag {
flex: 1;
display: flex ;
align-items: center;
justify-content: center;
background-color: rgb(75, 124, 199);
color: white;

}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.slettknapp {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
