* {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .amalieskram-tekst {
    display: flex;
    color: white;
    margin-right: auto;
    font-size: 35px;
  }

  .logo {
    margin-right: auto;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta, 
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
    justify-content: space-between;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  

  
  button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  
  
  .menu {
    display: none;
  }

.velkommen {
    display: flex;
    background-image: url(../Bilder/Nydelig_bakgrunnsbilde.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: start;
    padding-bottom: 50%;
   
}

.Velkommen_tekst {
  display: flex;
  border: green solid 1px;
  margin: 15px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  nav {
    justify-content: space-between;
  }

  .cta {
    display: none;
    visibility: hidden;
  }
}
  
.Erik-phillip-bilde {
  display: flex;
  border: red solid;
}

.bilde {
  width: 100%;
}

.bildetekst {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: auto;
  margin: 50px;
  padding: 20px;
  background-color: lightgrey;
  border: none; 
  position: absolute;
  border-radius: 25px;
}


.daniel-erik-bilde {
  display: flex;
  

}






